<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(title, links, contents, others)"
	lang="ko">
	<head>
		<title th:replace="${title}">기본 타이틀</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/awesomeapp.css}">
		<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
		<script type="text/javascript" th:src="@{/sh/scripts/codebase.js}"></script>
		<script type="text/javascript" th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
		<th:block th:replace="${links}" />
	</head>
    <body>
    	<div th:insert="~{fragments/header :: common_header}"></div>
    	<section th:replace="${contents}">내용</section>
    	<div th:insert="~{fragments/footer :: common_footer}"></div>
		<th:block th:replace="${others}" />
    </body>
</html>/