<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, links, contents)">
	<head>
		<title th:replace="${title}">스터디</title>
		<!-- 공통 -->
		<link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
		<link rel="shortcut icon" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css">
		<script type="text/javascript" th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
		<!-- 추가 -->
		<th:block th:replace="${links}" />
	</head>
    <body>
    	<div th:insert="~{fragments/header :: login_header}"></div>
    	<section th:replace="${contents}">로그인 내용</section>
    	<div th:insert="~{fragments/footer :: login_footer('', '짜잔파람2입니다')}"></div>
    </body>
</html>