<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbs.app.nss.board.BoardMapper">

    <select id="selectBoardList" resultType="Map">
        SELECT '123' FROM dual
    </select>
    <insert id="insertBoard" parameterType="BoardDTO">
        INSERT INTO MHS_USR (usr_id, passwd, usr_nm, usr_mob, nck_nm)
        VALUES (#{usrId}, #{passwd}, #{usrNm}, #{usrMob}, #{nckNm})
    </insert>
</mapper>