<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbs.app.nss.login.mapper.LoginMapper">

    <select id="selectUser" parameterType="String" resultType="UserDTO">
        SELECT A.*, 'ROLE_USER' AUTH_CD FROM MHS_USR A WHERE A.USR_ID = #{usrId}
    </select>
    
    <!-- remember-me 유효시간 초과 시 삭제 -->
	<delete id="removeUserTokensBySeries" parameterType="String">
		DELETE FROM persistent_logins WHERE series = #{series}
	</delete>
</mapper>