<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/defaultLayout :: layout(~{::title}, ~{::link}, ~{::contents}, ~{::others})}">

	<title>게시판의 타이틀</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
	
	<div class="wrep" th:fragment="contents">
		<div class="commentTable">
			<div th:each="map : ${list}" >
				<span th:text="'key1 : '+${map.key1}">그만</span> /
				<span th:text="'key2 : '+${map.key2}">key2 해</span>
			</div>
		</div>
		<div id="page">
			<a
				th:each="n : |${#numbers.sequence(1, 10)}"
				th:text="${n} + ' '"
				th:no="${n}"
				th:onclick="getList(this)">
				왜자꾸
			</a>
		</div>
	</div>
	<div class="wrep" th:fragment="others">
		<script>
		$(document).ready(function () {
			$('#page a').first().click();
		});
		
		function getList(obj){
			let no = obj.getAttribute('no');
			$('#page a').css("font-weight", "normal");
			$(obj).css("font-weight", "bold");
			$.ajax({
		        url: "/list",
		        type: "POST",
		        data: {no:no},
		    })
		    .done(function (data) {
		    	$('.commentTable').replaceWith(data);
		    });
		}
		</script>
	</div>
</html>