<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WAY1 방식 템플릿 이용</title>
</head>
<body>
    <th:block th:replace="~{layout/way1/header :: basicHeader}" />
<!--    <th:block th:replace="~{layout/way1/header :: customHeader(~{::div}, ~{::ul})}">-->
<!--        <div style="background: darkgrey">-->
<!--            사용자 추가 내용1-->
<!--            <ul>-->
<!--                <li>히히1</li>-->
<!--                <li>히히2</li>-->
<!--                <li>히히3</li>-->
<!--            </ul>-->
<!--            <div style="background: cornflowerblue">안녕하세요</div>-->
<!--        </div>-->
<!--    </th:block>-->
    <th:block th:replace="~{layout/way1/left :: basicLeft}"/>
    메인 내용입니다.
    [[${result}]]

    <a href="/board/boardMain"> 임시 게시판 이동</a>

    <footer th:replace="~{layout/way1/footer :: basicFooter}"></footer>
</body>
</html>